In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
killings_data = pd.read_csv('./data/killings.csv', index_col=0)
killings_data.head()

,State,total_pop,black_pop,hispanic_pop,% Victims Black,Disparity,black_killings,hispanic_killings,total_killings,black_rate,hispanic_rate,white_rate,total_rate,Disparity in Rate,Black-White Disparity,Hispanic-White Disparity
0,AL,4864680.0,1285737.0,203146.0,0.384058,0.119758,53.0,NaN,138.0,5.888785,0.000000,3.306951,4.052535,1.453111,1.780730,0.000000
1,AK,738516.0,22817.0,51186.0,0.100000,0.069104,4.0,1.0,40.0,25.043983,2.790942,5.704727,7.737525,3.236692,4.390041,0.489233
2,AZ,6946685.0,286614.0,2163312.0,0.090909,0.049650,31.0,115.0,341.0,15.451344,7.594176,5.302227,7.012595,2.203370,2.914124,1.432262
3,AR,2990671.0,458536.0,219052.0,0.298077,0.144755,31.0,3.0,104.0,9.658067,1.956483,3.942973,4.967829,1.944122,2.449438,0.496195
4,CA,39148760.0,2164519.0,15221577.0,0.158609,0.103319,187.0,487.0,1179.0,12.341904,4.570580,3.275952,4.302271,2.868695,3.767425,1.395191